@use '../sass/abstracts/mixins';

.container{
    //background-color: yellow;
    width:100%;
    margin: 0 auto;
    padding: 0 1rem;
    @include mixins.breakpoint(tablet) {
        //background-color: blueviolet;
        width:700px;
    }
    @include mixins.breakpoint(laptop) {
        //background-color: red;
        width: 980px;
    }
    @include mixins.breakpoint(desktop) {
        //background-color:chartreuse;
        width: 1140px;
    }
}